.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
}

.app_body {
  display: flex;
  background-color: #ededed;
  height: 100vh;
  box-shadow: -1px 4px 20px -6px black;
  margin-top: -50px;
}

.showBtn {
  border-radius: 5px;
  position: fixed;
  background: none;
  color: balck;
  padding: 10px;
  padding: 3px 9px;
  outline: none;
  border: 3px solid #000;
  display: none;
}

@media (max-width: 550px) {
  .showBtn {
    display: block;
    left: 50%;
    transform: translate(-50%);
    top: 4%;
  }
  .app_body {
    width: 100%;
  }
}
