.sidebar_chat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 3px solid #e4e4e4;
  transition: 0.5s ease;
}

.sidebar_chat:hover {
  background-color: #ebebeb;
}

.sidebar_chat_info {
  margin-left: 10px;
}

.sidebar_chat_info h2 {
  font-size: 16px;
  margin-bottom: 6px;
}
.sidebar-chats button {
  width: 90%;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  margin: 10px auto 10px;
  display: block;
  background-color: rgb(238, 238, 238);
  outline: none;
  border: none;
  transition: 0.5s ease;
}

button:hover {
  background-color: #767676;
}

a {
  text-decoration: none;
  color: black !important;
}
